{#
/**
 * @file
 *
 *
 * Available variables:
 * - type: Group type.
 *
 * @see template_preprocess_groups_group_type()
 *
 * @ingroup themeable
 */
#}
<div class="groups-table-filter-text-source">{{ type }}</div>
